#*
 * Copyright (c) 2012-present Marvelution B.V.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *###
#* @vtlvariable name="action" type="org.marvelution.jira.plugins.jenkins.webwork.ConfigureJenkinsIntegration" *#
#* @vtlvariable name="webResourceManager" type="com.atlassian.plugin.webresource.WebResourceManager" *#

<html>
<head>
	<title>$action.getText("manage_jenkins")</title>
	$webResourceManager.requireResourcesForContext("jenkins-manage-configuration")
</head>
<body>
<header class="aui-page-header">
	<div class="aui-page-header-inner">
		<div class="aui-page-header-main">
			<h1>$action.getText("manage_jenkins")</h1>
		</div>
		<div class="aui-page-header-actions">
			<div class="aui-buttons" id="plugin-actions">
			</div>
		</div>
	</div>
</header>
<div id="aui-message-bar"></div>
<div id="jenkins-site-list">
	#foreach ($site in $action.loadSites())
		$soyRenderer.render($action.getPluginUtil().getCompleteModuleKey("configuration-resources"),
							"JJI.Templates.Admin.Sites.siteContainer",
							{'site': $site})
	#end
</div>
</body>
</html>
