/**
 * Copyright (c) 2012-present Marvelution B.V.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.jenkins-logo,
.JENKINS-logo,
.hudson-logo,
.HUDSON-logo {
	background-size: 32px !important;
	padding: 10px 0 0 35px;
	vertical-align: bottom;
}

.jenkins-logo,
.JENKINS-logo{
	background: url(../../../download/resources/com.marvelution.jira.plugins.jenkins/images/icon96_jenkins.png) left top no-repeat;
}

.hudson-logo,
.HUDSON-logo {
	background: url(../../../download/resources/com.marvelution.jira.plugins.jenkins/images/icon96_hudson.png) left top no-repeat;
}

.jenkins-centered {
	text-align: center !important;
	white-space: nowrap;
}

.jenkins-right-text {
	text-align: right !important;
	white-space: nowrap;
}

.job-deleted {
}

.job-sync-icon {
	width: 16px;
	height: 16px;
	background: url(../../../download/resources/com.marvelution.jira.plugins.jenkins/images/not_working.png) no-repeat;
	display: inline-block;
	cursor: pointer;
}

.job-sync-icon.active {
	background: url(../../../download/resources/com.marvelution.jira.plugins.jenkins/images/working.gif) no-repeat;
	cursor: default;
}

.job-sync-status .error {
	color: #ff6666;
	font-weight: bold;
}

.joblist > tbody > tr:HOVER {
	background-color: #f2f2f2;
}

.joblist > tbody > tr .aui-icon {
	margin-right: 5px;
}

.jenkins-blanket {
	background-color: #FFF;
	left: 0;
	right: 0;
	opacity: 0.8;
	position: absolute;
	display: none;
}

.site-jobs-collapsed {
	display: none;
}

.jenkins-job-list-toggle {
	cursor: pointer;
	position: relative;
	top: 27px;
	left: calc((100% - 32px) / 2);
	width: 25%;
	vertical-align: middle;
}

.aui-iconfont-expanded.jenkins-collapsed::before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.joblist .aui-button {
	display: initial !important;
}

.joblist .aui-button.aui-dropdown2-trigger:not(.aui-dropdown2-trigger-arrowless):after {
	top: 50% !important;
}
