/**
 * Copyright (c) 2012-present Marvelution B.V.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.cibuild-report thead .job,
.cibuild-report tbody .job {
	max-width: 280px;
}

.cibuild-report tbody .job > div {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.cibuild-report thead .build,
.cibuild-report thead .results,
.cibuild-report thead .timestamp {
	width: 1px;
	white-space: nowrap;
}

.cibuild-report thead .build,
.cibuild-report tbody .build {
	min-width: 120px;
}

.cibuild-report tbody .build .aui-icon {
	margin-right: 5px;
}

.cibuild-report thead .results,
.cibuild-report tbody .results {
	min-width: 280px;
}

.cibuild-report thead .timestamp,
.cibuild-report tbody .timestamp {
	text-align: right;
	min-width: 160px;
}
